# layouts
*.psd
*.fig

# node_modules
/node_modules/*

# client node_modules
/package-lock.json

# config for dev exclude only hosting
# config/config.dev.js

# config for default prod exclude only hosting
# config/default.prod.js