# layouts
*.psd
*.fig

# node_modules
/node_modules/*

# client node_modules
/package-lock.json

# config for dev exclude only Heroku
config/config.dev.js

# config for default prod exclude only Heroku
config/default.prod.js