.remove-btn {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 20px;
	background-color: transparent;
	transition: all 0.1s ease;
	cursor: pointer;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;

	& svg {
		fill: #a79999;
		// fill: #b3a9a9;
	}

	&:hover,
	&:active,
	&_active {
		& svg {
			fill: #ff582a;
		}
	}

	@media screen and (max-width: 480px) {
		&:hover {
			& svg {
				fill: #a79999;
			}
		}
	}
}
