//
@import "../../styles/variables.scss";

.btn-main-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 10px 20px 0;
	width: 40px;
	height: 65px;
	cursor: pointer;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;

	&:hover {
		& span {
			// background-color: #96c15b !important;
			background-color: #444 !important;
		}
	}

	span {
		position: relative;
		margin-bottom: 6px;
		width: 100%;
		height: 2px;
		background-color: $color_green;
		// background-color: $color_black;
		border-radius: 20px;
		transition: transform 0.3s ease;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&_active {
		span {
			transform: scale(0);
			background-color: #ffffff;

			&:first-child {
				transform: rotate(45deg);
				top: 8px;
			}
			&:last-child {
				transform: rotate(-45deg);
				bottom: 8px;
			}
		}
	}

	@media screen and (max-width: 500px) {
		& span {
			background-color: #444 !important;
		}
	}
}
