//

@import "./../../styles/variables.scss";

.dropdown-menu {
	display: flex;
	justify-content: center;
	width: 100%;

	&__body {
	}
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	border-radius: 5px;
	transition: all 0.5s ease;
	color: $color_white;
	background-color: $color_green;
	box-shadow: 0 0 2px rgb(204, 204, 204);
	transition: all 0.3s ease;

	&:hover {
		// -webkit-box-shadow: 0px 24px 36px -10px rgba(0, 0, 0, 0.3);
		// -moz-box-shadow: 0px 24px 36px -10px rgba(0, 0, 0, 0.3);
		// box-shadow: 0px 24px 36px -10px rgba(0, 0, 0, 0.3);
		background-color: lighten(rgb(111, 150, 57), 2) !important;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	}

	&:active {
		background-color: #f8f8f8;
	}

	&.active,
	&.active:hover {
		border-radius: 5px 5px 0 0;
		background-color: #f8f8f8;
		box-shadow: 0 0 4px rgb(204, 204, 204);

		& .dropdown-icon {
			transform: rotate(-90deg);
		}
	}

	&_form {
		font-weight: 300;
		border: 1px solid #e6e6e6;
		color: #222 !important;
		background-color: $color_white;
		box-shadow: none;

		&:hover {
			background-color: $color_white;
			box-shadow: 0 0 3px #cccccc;
		}

		& .dropdown__icon {
			right: 16px;
			padding: 5px;
			border: solid #808080;
			border-width: 0 1.5px 1.5px 0;
		}

		&.active .dropdown__icon {
			top: 19px;
		}

		& .dropdown__list {
			color: #222 !important;
		}
	}

	&__select {
		display: block;
		padding: 10px 10px 10px 15px;
		cursor: pointer;
	}

	&__icon {
		position: absolute;
		top: 11px;
		right: 15px;
		transition: all 0.3s ease-in-out;

		border: solid #fff;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 6px;
		transform: rotate(45deg);
		// transform-origin: center;

		.active & {
			transform: rotate(225deg);
			top: 17px;
		}
	}

	&__list {
		position: absolute;
		left: 0;
		margin-top: 1px;
		width: 100%;
		height: 0;
		overflow-y: auto;
		z-index: 2;
		border-radius: 0 0 5px 5px;
		transition: all 0.3s ease;
		color: $color_green;
		background-color: $color_white;
		// box-shadow: 0 1px 2px rgb(204, 204, 204);
		box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.4);

		.active & {
			height: 300%;
		}

		// for scroll
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 6px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background-color: rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
		}
	}

	&__item {
		padding: 10px 10px 10px 15px;
		z-index: 20;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: #f2f2f2;
		}

		&:active {
			background-color: #e2e2e2;
		}
	}

	@media (max-width: 370px) {
		width: 100%;
	}
}
