//

.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	// width: 100%;
	// height: 100%;
}

@keyframes ldio-1oi0pxz9ftx {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.ldio-1oi0pxz9ftx div {
	left: 47.5px;
	top: 26px;
	position: absolute;
	animation: ldio-1oi0pxz9ftx linear 1.176470588235294s infinite;
	background: #82ae46;
	width: 5px;
	height: 12px;
	border-radius: 2.5px / 6px;
	transform-origin: 2.5px 24px;
}
.ldio-1oi0pxz9ftx div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.0784313725490196s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -0.980392156862745s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.8823529411764705s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.784313725490196s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.6862745098039215s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.588235294117647s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.4901960784313725s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.392156862745098s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.2941176470588235s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.196078431372549s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.0980392156862745s;
	background: #82ae46;
}
.ldio-1oi0pxz9ftx div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
	background: #82ae46;
}
.loadingio-spinner-spinner-0ag8wrlxqvn {
	width: 100px;
	height: 100px;
	display: inline-block;
	overflow: hidden;
	background: none;
}
.ldio-1oi0pxz9ftx {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-1oi0pxz9ftx div {
	box-sizing: content-box;
}
