//

//<NULL VARIABLES>=================================================================================================

$fontfamily: "Roboto", Arial, sans-serif;
$minwidth: 320px;
$fz: 15px;
$lh: 24px;
$color: #808080;
// Lato

//</NULL VARIABLES>=================================================================================================

$color_green: #6f9639 !important;
$color_light-green: #96c15b !important;
$color_error: #ff582a !important;
$color_white: #ffffff !important;
$color_black: #000000 !important;
$color_gray: #808080 !important;
$color_lidht-gray: #b3b3b3 !important;
$color_light: #f7f6f2 !important;

$btn-transition: all 0.2s ease;

//=================================================================================================
