//

@import "./../../styles/variables.scss";

.product-list-item {
	position: relative;
	transition: all 0.3s ease;
	border: 1px solid #f0f0f0;
	border-radius: 8px;
	height: 100%;
	// transition: box-shadow 0.2s;

	&:hover {
		// -webkit-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
		// -moz-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
		// box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);

		box-shadow: 0 6px 15px rgba(0, 0, 0, 0.147);

		// & .product-list-item__image {
		// 	-webkit-transform: scale(1.1);
		// 	-moz-transform: scale(1.1);
		// 	-ms-transform: scale(1.1);
		// 	-o-transform: scale(1.1);
		// 	transform: scale(1.1);
		// }
	}

	&__link {
		cursor: pointer;
		display: block;
		overflow: hidden;
		min-height: 177px;
	}

	&__discount {
		position: absolute;
		top: 8px;
		left: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		font-size: 13px;
		font-weight: 300;
		letter-spacing: 0.4px;
		color: $color_white;
		border-radius: 0 30px 0 30px;
		background: $color_green;
		box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 1);
	}

	&__favorits-btn {
		position: absolute;
		top: 17px;
		right: 17px;
		line-height: 0;
		z-index: 1;
	}

	&__image-wrapper {
		position: relative;
		padding-top: 75%;
		overflow: hidden;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 16px 16px 16px 16px;
		width: 100%;
	}

	&__title {
		margin-bottom: 7px;
		min-height: 50px;
		font-size: 15px;
		font-weight: 300;
		line-height: 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
		color: $color_black;
	}

	// &__price-wrapper {
	// -moz-transition: all 0.3s ease;
	// -o-transition: all 0.3s ease;
	// -webkit-transition: all 0.3s ease;
	// -ms-transition: all 0.3s ease;
	// transition: all 0.3s ease;
	// }

	&__currency {
		margin-left: 4px;
		width: 12px;
		height: auto;
		vertical-align: middle;
	}

	&__price {
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: 0.5px;
		color: $color_green;

		&_discount {
			margin-right: 8px;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			text-decoration: line-through;
			color: #b3b3b3;
		}
	}

	&__btn-area {
		padding: 17px 0 14px;

		// opacity: 0;
		// -moz-transition: all 0.3s ease;
		// -o-transition: all 0.3s ease;
		// -webkit-transition: all 0.3s ease;
		// -ms-transition: all 0.3s ease;
		// transition: all 0.3s ease;
	}

	@media (max-width: 1000px) {
		&__title {
			min-height: 30px;
		}
	}

	@media screen and (max-width: 480px) {
		&:hover {
			box-shadow: none;
		}
	}
}

// 	& img {
// 		position: absolute;
// 		top: 0;
// 		width: 100%;
// 		opacity: 0;

// 		-webkit-transition: opacity 150ms;
// 		-moz-transition: opacity 150ms;
// 		-ms-transition: opacity 150ms;
// 		transition: opacity 150ms;
// 	}

// 	&.loaded img {
// 		opacity: 1;
// 	}
// }

// &__mock-image {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	// background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAMAAAAhxq8pAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADVUExURf///05VJlhmLqOtYf329O3h2PDo3v///Pbt5v/79f/HwfBFRd42O9rHtsy5p8e0lsk7MfKxLWZxPW+CK36KWfzeWuGTKPfV0+rUyctjXLFdTuze0eTgsORoY+nSqf785r6MaO3Syey8Pf70uPzgktmghdE3OIFxTc9UQo17Yq2ZgYyXWu2el9h8UcmqMv7ab+BFQpYbH/SFgePpz91pVfjPVFFTA+tQPXyQN5akbmNjFLy+f/RcW6gnJH1UKGdpGF1RE/7GLO/GR6uKRNKrIv26LNPbqnt8OCsAAAAJcEhZcwAAAAEAAAABAE8lxNYAAACQSURBVBjTY2AgAbBjMPACY2tRfRV5NEELUVczQWVOJBNYuLisnBxdTPWUZBCCXDa2dg5igmLmunJwMU4jEyE3ZntnAQMNWYRKHWFmYUsRRkM1Hm6E+xT5mRmZRBhVBXi4Ea7n4NVmYhJSV5CSFEdo55Tm19Ti4+OVYOVA8igLGysrGxsHBwcLiv852UEAn58BGLYLSYWoRXoAAAAASUVORK5CYII=");
// 	filter: blur(5px);
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	background-position: 50%;
// }

// &__image {
// width: 100%;
// height: auto;
// vertical-align: middle;

// 	-webkit-transform: scale(1);
// 	-moz-transform: scale(1);
// 	-ms-transform: scale(1);
// 	-o-transform: scale(1);
// 	transform: scale(1);
// 	-moz-transition: all 0.3s ease;
// 	-o-transition: all 0.3s ease;
// 	-webkit-transition: all 0.3s ease;
// 	-ms-transition: all 0.3s ease;
// 	transition: all 0.3s ease;
// }
