//

@import "../../styles/variables.scss";

.cart-list {
	padding: 90px 0;

	// &__wrap {
	// border: 1px solid #f0f0f0;
	// border-radius: 8px;
	// }

	// &__header {
	// }

	// &__product-cards {
	// }

	&__total-wrap {
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		padding: 30px 0 20px;
	}

	&__total-text {
		margin: 0 20px 0 0;
		font-size: 25px;
		font-weight: 400;
		color: #363636;
	}

	&__total-price {
		font-size: 25px;
		font-weight: 400;
		color: $color_green;
	}

	&__btn-wrap {
		display: flex;
		justify-content: flex-end;
		padding: 25px 0 0;
	}

	@media (max-width: 767px) {
		padding: 50px 0 60px;

		&__btn-wrap {
			padding: 15px 0 0 0;
		}
	}

	@media (max-width: 550px) {
		padding: 50px 0 60px;

		&__total-wrap {
			flex-direction: column;
			align-items: center;
			padding: 0;
		}

		&__total-text {
			padding: 20px 0 10px 0;
			margin: 0;
		}

		&__btn-wrap {
			justify-content: center;
			padding: 30px 0 0 0;
		}
	}
}
